body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: aliceblue;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(207, 35, 93);
    font-size: large;
    font-weight: bold;
}
form{
        max-width: 600px;
        margin: auto;
        background-color: rgb(197, 243, 243);
        border-redius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
        padding: 20px;
    }
    fieldset{
        border:2px solid #0e2e3a;
        border-radius: 8px;
        paldding:20px;
        margin-bottom: 20px;
    }


        legend{
            font-weight:bold;
            text-align: left;
            color: brown;
            
        }
        label{
            display: block;
            margin: tap 10px;
            color: #2c3e50;
        }

        input,textarea{
            width: calc(100% - 1px);
            padding: 8px;
            border: 1px solid #3498bd;
            border-redius:4px;
            box-sizing: border-box;

        }
        button{
            display: block;
            width: 100%;
            padding: 10px;
            background-color:0cm;
            color: black;
            border:none;
            border-redius: 4px;
            cursor: pointer;
            margin-top : 10px;
            font-size:18px;
            font-family: 'Times New Roman', Times, serif;

        }
        button:hover{
            background-color: #3498bd;
        }